.navbar 
{ background-color: #ffffff; /* soft teal background */ 
  display: flex; 
  justify-content: space-between; 
  align-items: center; padding: 0px 12px; 
  
  
  flex-wrap: wrap; height: 120px; } /* Left section (logo + name) */ 
  .navbar-left { 
    display: flex; 
    align-items: center; 
    gap: 10px; } 

  .logo { 
    width: 250px; 
    height: auto; } /* Center section (buttons) */ 

  .navbar-center { 
    display: flex; 
    gap: 10px; } 

  .navbar-center button { 
    background-color: #579e8e; /* teal green */ 
    color: #fff; 
    border: none; 
    border-radius: 20px; 
    padding: 8px 18px; cursor: pointer; 
    font-size: 14px; 
    transition: background-color 0.2s ease; } 
    
    .navbar-center button:hover { 
    background-color: #00796b; /* darker teal on hover */ } /* leftRight section (EN/FR) */ 
    
    .navbar-leftright { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-size: 14px; } .language-btn { 
    border: none; 
    background: none; 
    color: #000000; 
    border-radius: 20px; 
    padding: 6px 14px; 
    cursor: pointer; 
    transition: all 0.2s ease; } 
    
    .login-btn:hover { 
    background-color: #009688; 
    color: white; } /* Right section (login) */ 
    
    .navbar-right { 
    display: flex; 
    align-items: center; 
    gap: 10px; font-size: 14px; 
  } 
  
    .login-btn { 
      border: 1px solid #009688; 
      background: none; 
      color: #009688; 
      border-radius: 20px; 
      padding: 6px 14px; 
      cursor: pointer; 
      transition: all 0.2s ease; 
    } 
    
    .login-btn:hover { 
      background-color: #009688; 
      color: white; } /* Responsive tweaks */ 
      @media (max-width: 768px) 
      { 
        
      .navbar { 
      flex-direction: column; 
      align-items: flex-start; 
      gap: 10px; } 
      
      .navbar-center { flex-wrap: wrap; } }