.home-container {
  font-family: "Segoe UI", sans-serif;
  color: #222;
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  background-color: #e0f7f4; /* light teal background */
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
  min-width: 280px;
}

.hero-content h1 {
  font-size: 36px;
  text-align: left;
  color: #ca3647;
  margin-bottom: 1px;
}

.hero-content h2 {
  font-size: 34px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  color: #333;
}

/* Ribbon image */
.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 450px;
  height: auto;
}
