.section {
  margin-bottom: 24px;
  background-color: #579e8e;
}

.section h1 {
  font-size: 28px;
  margin: 0 0 6px 0;
  font-weight: 600;
}

.section p {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  color: #333;
}
